html {
    font-family: 'Roboto', sans-serif;
    min-width: 1150px;
    max-width: 1900px;
}

body {
    padding: 20px 50px;
}

#root {
    width: 100%;
    display: inline-block;
}

.headerOfEmptyResult {
    display: inline-block;
}

.saveNameBtn {
    border-radius: 5px;
    border: 2px solid #a6b1b8;
    
    &:hover {
        border: 2px solid #bfcad2;
    }
}

.importantTask {
    .task__name {
        font-weight: bold;
    }
}

.selectedTask {
    width: 20%;
    font-size: 18px; 
    display: inline-block;
    border: 2px solid #928e8e;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    
    div {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        word-break: break-all;
        
        span {
            width: 60%;
            display: inline-block;
            text-align: center;
        }
    }
    
    hr {
        border-top: 1px solid #9594a8;
        margin: 5px 0;
    }
    
    textarea {
        height: 50px;
        font-size: 15px;
        border: none;
        resize: none;
        width: 90%;
        padding: 5px;
        display: inline-block;
        border: 1px solid #9ca3a9;
        border-radius: 5px;
        
        &:focus {
            border: 1px solid black;
            outline: none;
        }
    }
    
    p {
        font-size: 15px;
    }
}

.tableWrapper {
    width: 75%;
    min-width: 600px;
    background: #f0f0f0;
    padding: 30px;
    float: right;
    border: 2px solid #928e8e;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    
    .tasksTableInfo {
        width: 100%;
        font-size: 15px;
        font-family: Roboto;
        
        .task:last-child {
            border-bottom: 0px;
        }
        
        thead tr {
            background: rgb(124, 125, 127);
            color: white;
            letter-spacing: 1px;
            font-size: 20px;
            
            th {
                width: 20%;
                text-align: center;
                padding: 10px;
            }
        }
    }
}

.task {
    margin: 10px;
    background: #c2c2c2;
    border-bottom: 2px solid #928b8b;
    cursor: pointer;
    
    &:hover {
        transition-duration: .5s;
        background: #b4aece;
    }
    
    td {
        width: 20%;
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }
    
    span {
        width: 100%;
        text-align: center;
        display: inline-block;
    }
}
